target
work

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.metadata
build
bin

# Vim junk files
.*.swp
*~

.DS_Store

# Maven Release
pom.xml.releaseBackup
release.properties


